bdd_schema.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="engineeringSchool" type="engineeringSchoolType" />
  <xs:attribute name="label" type="xs:string" />

  <xs:complexType name="person">
  	<xs:sequence>
  		<xs:element name="name" type="xs:string"/>
		<xs:element name="firstName" type="xs:string"/>
		<xs:element name="DoB" type="xs:string"/>
		<xs:element name="phoneNumber" type="xs:string"/>
		<xs:element name="email" type="xs:string"/>
		<xs:choice>
			<xs:element name="situation" type="xs:string"/>
			<xs:element name="adress" type="xs:string"/>
			<xs:element name="zipcode" type="xs:string"/>
			<xs:element name="city" type="xs:string"/>
			<xs:element name="country" type="xs:string"/>
		</xs:choice>
	</xs:sequence>
  </xs:complexType>
  <xs:complexType name="teacher">
  	<xs:complexContent>
  		<xs:extension base="person">
  			<xs:element name="idTeacher" type="xs:string"/>
        </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="studentType">
	<xs:complexContent>
		<xs:extension base="person">
			<xs:element name="idStudent" type="xs:string"/>
		</xs:extension>
	</xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="promotionType">
	<xs:sequence>
		<xs:element name="student" type="studentType"/>
	</xs:sequence>
	<xs:attribute ref="label" />
  </xs:complexType> 
  
  <xs:complexType name="departmentType">
	<xs:sequence>
		<xs:element name="promotion" type="promotionType" />
	</xs:sequence>
	<xs:attribute ref="label" />
  </xs:complexType>
  
  <xs:complexType name='engineeringSchoolType'>
	<xs:sequence>
		<xs:element name="department" type="departmentType" />
	</xs:sequence>
	<xs:attribute ref="label" />
	<xs:attribute name="city" type="xs:string" />
  </xs:complexType> 
</xs:schema>